{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div><h1 class="page-header">Książka kucharska</h1>
            <h2>Konkretny przepis</h2>
        </div>
        <div>
            <h2>Twój przepis {{ id }}</h2>
        </div>
    </div>
    {% for przepis in id %}
        <ul>
            <li>{{ przepis.id }}</li>
        </ul>
    {% endfor %}
{% endblock %}