{% block przepisKategoria %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div>
            <img src="{{ asset(kategoria.image) }}"
                 class="img-responsive">
            <h2>{{ kategoria.nazwa|upper }}</h2>
            <div class="row" id="lista">
                <ul class="list-unstyled">
                    {% for przepis in przepisy %}
                        <h4><a href="{{ path('przepisid', { 'id': przepis.id }) }}">{{ przepis.nazwa }}</a></h4>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}