{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="starter-template">
            <h2>LOGOWANIE</h2>
        </div>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div>
            <form action="{{ path('login') }}" method="post">
                <input class="form-control" type="text" placeholder="Nazwa *" id="username" name="_username"/>
                <input class="form-control" type="password" placeholder="Hasło *"id="password" name="_password"/>
                <div>
                    <h3>
                        <button type="submit" class="btn btn-primary">Zaloguj</button>
                    </h3>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
