{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Książka kucharska</h1>
        <h2>Kategoria została dodana.   <a href="{{ path('dodajkategorie') }}" class="btn btn-primary btn-sm active" role="button">Powrót</a></h2>
    </div>
{% endblock %}