{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Książka kucharska</h1>
        <div class="starter-template">
            <h2>LOGOWANIE</h2>
        </div>
        <form action="{{ path('login_check') }}" method="post">
            <div>
                <label for="username">Nazwa:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div>
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="_password"/>
            </div>
            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                <label for="remember_me">Zapamiętaj mnie</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm">Zaloguj</button>
            </div>
        </form>
    </div>
{% endblock %}