{% extends '::ksiazkakucharska.html.twig' %}
{% block container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Książka kucharska</h1>
        <div class="starter-template">
            <h1>KONTAKT</h1>
        </div>
        <div class="container">
            <div class="form-group">
                <form method="post" id="formularz_kontaktowy" action="">
                    <input type="text" class="form-control" name='name' placeholder='Imię *'/>
                    <input type="text" class="form-control" name='email' placeholder='Email *'/>
                    <input type="text" class="form-control" name='subject' placeholder='Temat *'/>
                    <input type="hidden" name="access" value="irregeheim">
                    <textarea type="text" class="form-control" rows="3" name='wiadomosc'
                              placeholder='Wiadomość *'></textarea>
                </form>
            </div>
            <div class="form-group">
                <h2><button type="button" class="btn btn-primary btn-sm">Wyczyść</button>
                    <button type="button" class="btn btn-primary btn-sm">Wyślij wiadomość</button></h2>
            </div>
        </div>
    </div>
{% endblock %}